@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --line-height: 1.5;
    --font-weight: 400;
    --font-family: "Chakra Petch", sans-serif;
    --color: white;
  }
}

@layer components {

  .nav-item {
    @apply text-strong-purple hover:text-bright-yellow hover:underline hover:underline-offset-4
  }
  .btn-custom {
    @apply bg-strong-purple text-white font-bold py-2 px-4 rounded w-32 m-4;
    @apply hover:bg-bright-yellow hover:text-black;
  }

  .btn-small {
    @apply w-16;
  }

  .input-custom {
    @apply border border-gray-300 rounded-md py-2 px-3;
    @apply text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent;
  }

  .card {
    @apply bg-white text-strong-purple rounded-md text-xl h-3/5 w-2/5 flex flex-col
  }

  .section {
    @apply h-screen flex justify-center
  }
}

html, body {
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  font-family: var(--font-family);
  color: var(--color);
}

.heading {
  font-size: 5rem;
  line-height: 1.1;
  text-shadow: 
    -1px -1px 0 white, 
    1px -1px 0 white, 
    -1px 1px 0 white, 
    1px 1px 0 white;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

li {
  list-style: None;
}

.exercises {
  width: 50%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.exercise {
  background-color: white;
  border-radius: 8px;
  width: 10%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100px;
}

.exercise button {
  background-color: white;
  text-align: center;
  align-self: center; 
  padding: 0;
}

.repetitions {
  text-align: center;
  font-weight: 800;
  padding: 0;
  margin: 0;
}

.exercise-name {
  text-align: center;
  padding: 0;
  margin: 0;
}

.new-exercise-container {
  text-align: center;
  display: flex;
  justify-content: center; /* Center the container horizontally */
  align-items: center; /* Center the container vertically */
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px; /* Add some space between form elements */
}

label {
  display: block; /* Make labels block-level elements */
  margin-bottom: 5px; /* Add some space below labels */
}

@media (max-width: 1024px) {
  .exercises {
    width: 70%;
  }
  
  .exercise {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .exercises {
    width: 80%;
  }

  .exercise {
    width: 20%;
  }
}

@media (max-width: 480px) {
  .exercise {
    width: 60%;
  }
}